
@{
    ViewData["Title"] = "Галерия";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="gallery-grid">
  <div class="row">
    <div class="col-sm-4 text-center"><img src="images/banner1.jpg"></div>
    <div class="col-sm-4 text-center"><img src="images/banner2.jpg"></div>
    <div class="col-sm-4 text-center"><img src="images/banner3.jpg"></div>
  </div>
  <div class="row">
    <div class="col-sm-6 text-center"><h1>One</h1></div>
    <div class="col-sm-6 text-center"><h1>Two</h1></div>
  </div>
  <div class="row">
    <div class="col-sm-3 text-center"><h1>One</h1></div>
    <div class="col-sm-3 text-center"><h1>Two</h1></div>
    <div class="col-sm-3 text-center"><h1>Three</h1></div>
    <div class="col-sm-3 text-center"><h1>Four</h1></div>
  </div>
</div>