body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("../images/bg.png");
    background-repeat: repeat-x;
    background-color: #3b1812;
    color: #3D2315;
}

a {
    color: #962D19;
}

hr{
    border-top: 1px solid #962D19;
}

.navbar-inverse{
    background-color: #FFF8DC;
    border-color: #DEB887;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand{
    color: #3D2315
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-brand:hover{
    color: rgb(189, 140, 114);
    border-bottom: 4px solid;
}

.navbar-nav > li > a{
    padding-bottom: 10px;
}

.body-content{
    background-color: #FFF8DC;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.menu-category{
    text-align: center;
}

.menu-en{
    color: #962D19;
}

.menu-item{
    margin-bottom: 10px;
}

.navbar-brand > img {
    display: inline-block;
    width: 24px;
    height: 24px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

#map {
    width: 100%;
    min-height: 400px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
